<section id="about-me" class="padding-sm">
    <h2>About Me</h2>
    <p>Hello! I’m <strong>Souvik Biswas</strong>, an experienced Angular Developer with over 4.6 years of expertise in
        building high-performance, scalable web applications. My technical skillset spans across Angular, JavaScript,
        TypeScript, HTML, CSS3, and Progressive Web Apps (PWA), with hands-on experience in crafting responsive and
        intuitive user interfaces.</p>

    <p>Throughout my career, I’ve worked closely with UX designers and backend teams to seamlessly integrate design with
        functionality. I’m proficient in using various modern tools and libraries such as Firebase, RxJS, and Angular
        Material, and I am passionate about delivering clean, maintainable code adhering to best practices and design
        patterns.</p>

    <p>Currently, I work as a Technology Analyst at Infosys Ltd, where I focus on enhancing application performance,
        debugging complex issues, and implementing cutting-edge technologies to improve user experience and system
        efficiency.</p>

    <p>In addition to my work, I’ve led the development of real-time applications, including chat and payment gateway
        systems, using technologies like MongoDB, Express, and Firebase. My deep understanding of the software
        development lifecycle, combined with my ability to troubleshoot and optimize web performance, enables me to
        deliver robust and efficient solutions that exceed client expectations.</p>

    <p>When I’m not coding, I’m continuously learning new technologies to stay on top of industry trends. I look forward
        to collaborating on innovative projects and building the next generation of digital solutions.</p>

    <p>Feel free to check out my portfolio and let’s connect!</p>
</section>